body{
    background-color: whitesmoke;
}
.login-container {
    justify-content: center;
    width: 300px;
    height: 35vh;
    margin: 200px 200px 200px 600px;
    padding: 20px;
    background-color: khaki;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
.input-field {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.pass {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.loginbtn{
    padding: 10px;
    background-color: rgb(199, 35, 228);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-header{
    text-align: center;
    margin-bottom: 20px;
    color: darkblue;
}